/*$ajat-color: #119EE6;*/
@font-face {
  font-family: 'manteka';
  src: url("../fonts/manteka.ttf") format("truetype");
}
@font-face {
  font-family: 'Nexa Bold';
  src: url(../fonts/Nexa-Bold.otf) format("opentype");
}
@font-face {
  font-family: 'Nexa Light';
  src: url(../fonts/Nexa-Light.otf) format("opentype");
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Nexa Light', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 1.3em;
  text-transform: uppercase;
  /*font-weight: bold;*/
  color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #119EE6;
  background-color: inherit;
}

.intro-section::after {
  content: "";
  background:url(../img/BG_Home.png);
  opacity: 0.5;
  /*opacity: 0.9;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.logo {
  width: 25%;
}
.header-text {
  display: block;
}
.typed {
    font-family: "manteka","Agency FB",monospace;
    display: inline-block;
    margin: 0;
    color: #FFF;
    font-size: 25px;
}
/*for cursor stay blinking*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 40px;
    margin: 0 10px;
    color: #FFF;
}
.author {
  font-size: 14px;
}
.intro-section .btn-round {
  margin-top: 10%;
}
.btn-round {
  border-radius: 50%;
}
.btn-transparent {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}
.btn-transparent:hover {
  color: #FFF;
}
/*.intro-section .container {
  height: 100%;
}*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*#intro{
  background: url(../img/BG_Home.png);
}*/
.ajat-text{
  font-family: 'Nexa Light';
  font-size:2.8em;
}
.img-services{
  width:100%;
  margin-left:-400px;
}
.ajat-emphasis-text{
  font-family: 'Nexa Light';
  font-size: 2.5em;
  color:#119EE6;
  font-weight: 300;
}
#ajat-service-logo{
  width: 200px !important;
  z-index:1;
}
.big-ball{
  width: 35px;
  height: 35px;
  background: #303030;
  border-radius: 50%;
  z-index:-1;
  margin-left:43.8888%;
  margin-top:-7.99999%;
}
.small-ball{
  width: 20px;
  min-height: 20px;
  max-height: 20px;
  background: #303030;
  border-radius: 50%;
  z-index:1;
  margin-top: 3px;
}
.small-ball-1{
  margin-left:210px;
}
.small-ball-1{
  margin-left:210px;
}
.margin-line-right-1{
  margin-right:49.88%;
}
.margin-line-left-1{
  margin-right:200px;
}
.vertical-line{
  border-right:2px solid #303030;
  max-height: 10px;
  min-height: 10px;
  z-index: -1;
}
.horizontal-line{
  border-top:2px solid #303030
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .container-services{
    margin-top:-54px !important;
  }
  .img-services{
    width:100%;
    margin-left:0;
  }
  .navbar-header{
    width:auto !important; /*ajuste necessário para não bugar o menu*/
  }
  .navbrand-responsive{
    position: relative;
  }
  .button-menu-responsive{
    /*padding:15px;*/
    right:0;position:absolute !important;
  }

}
